@import '../../Components/settings.scss';
@import '../../colors/colors';


@media (min-width: 900px){
    .sidebar-container {
        //display: block;
        max-width: 35px;
        height: 100%;
    }
    .stories_and_posts {
        
        height: 100%;
        padding-top: 1%;
        justify-content: center;
        align-items: center;
    }
    .main-and-recommendation {
        display: flex;
        width: 100%;
    }
    .section-main {
        background:$colorBaseGradient;
        
        position: relative;
        width: 100vw;
        height: 100%;
        justify-content: center;
        //align-items: center;
        display: flex;
        flex-direction: row;
        flex-direction: row;
        grid-gap:10%;
    }

    
    .main-posts {
        
        //outline: 1px solid rgb(9, 255, 0);
        width: 100%;
        //padding-left: 20px;
        //
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .main-stories {
        height: 100%;
        //padding-top: 20px;
        display: flex;
        justify-content: center;
        //padding-left: 42px;
        //padding-top: 1%;
        width: 100%;
    }
    
    .container-stories {
        margin-top: 20px;
    }
    
    .cima {
        z-index: 9;
    }
    
    .slide-div{
        max-width:100%;
        width:100%;
        margin: 0 auto;
        min-height:100vh;
        display:inline-flex;
        align-items:center;
        justify-content:center;
      }
    
    .home__wrap {
        
        display: flex;
        width: 100%;
        display: block;
        background: rgb(0, 0, 0);
        color: #fff;
        height: 100vh;
    
        .home__content {
            display: block;
            outline: 1px solid rgb(0, 140, 255);
            outline: blue;
            //padding-right: auto;
            //padding-left:  auto;
            
            width: 100%;
            //display: flex;
            flex-direction: column;
            justify-content: center;
            //padding-left: 10%;
           // padding-right: 10%;
            //margin: 0 auto 10%;
            background: rgb(0, 0, 0);
            max-width: 100%;
            
            //margin-top: 16px;
    
            
    
            .other__accaunt__and__followers {
                
                .own__accaunt {
                    margin-bottom: 10px;
                    margin-top: 32px;
                    display: flex;
                    align-items: center;
    
                    p {
                        color: rgb(168, 168, 168);
                    }
    
                    img {
                        width: 56px;
                        height: 56px;
                        border-radius: 50%;
                        margin-right: calc(4px * 3);
                    }
    
                    span {
                        margin-left: 20px;
                        color: rgb(0, 149, 246);
                    }
                }
    
                .recomentded__info {
                    padding-bottom: calc(4px * 2);
                    padding-top: calc(4px * 2);
                    display: flex;
                    justify-content: space-between;
    
                    a {
                        color: #fff;
    
                        &:hover {
                            opacity: .5;
                        }
                    }
    
                    p {
                        color: rgb(168, 168, 168);
                    }
                }
    
                .recomended__accaunts {
                    .recomended__account__wrap {
                        padding-bottom: calc(4px * 2);
                        padding-top: calc(4px * 2);
    
                        .recomended__accaunt {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
    
                            .recomended__user__main__info {
                                display: flex;
                                align-items: center;
    
                                img {
                                    width: 42px;
                                    height: 42px;
                                    border-radius: 50%;
                                    margin-right: 12px;
                                }
    
                                .who__is__this__user {
                                    span {
                                        color: rgb(168, 168, 168);
                                    }
                                }
                            }
    
                            button {
                                border: 0;
                                cursor: pointer;
                                background: transparent;
                                color: rgb(0, 149, 246);
                            }
    
                        }
                    }
    
    
                }
            }
        }
    }
    .section-recommendation {
        padding-top: 0.5%;
        display: flex;
        height: 100hv;
        //grid-gap: 60%;
        //padding: 0.5%;
        //display: none;
        margin-right: 10%;
        //width: 10%;
        display: block;
        flex-direction: row;
        border-color: aqua;
        //background-color: #fff;
        
        outline: blue;
        //align-items: center;
        //align-content:end;
    
    }
    
}


@media (min-width: 320px) and (max-width:900px) {
    .sidebar-container {
        display: none;
    }
    .section-main {
        background:$colorBaseGradient;
        
        position: relative;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        //align-items: center;
        display: flex;
        flex-direction: row;
        flex-direction: row;
        grid-gap:10%;
    }
    
    .stories_and_posts {
        margin: 0;
        width: 100%;
        height: 100%;
        
        justify-content: center;
        align-items: center;
    }

    .main-posts {
        margin: 0 0 0 0;
        //outline: 1px solid rgb(9, 255, 0);
        width: 100%;
        //width: 98.9%;
        //padding-left: 20px;
        //
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .main-post {
        height: 100%;
        width:  100%;
        justify-content: center;
        align-items: center;
        display: block;
    }
    
    .main-stories {
        margin: 0;
        width: 100%;
        height: 100%;
        //padding-top: 6%;
        display: flex;
        justify-content: center;
        //padding-left: 42px;
    }    
    .cima {
        z-index: 9;
    }
    
    .slide-div{
        margin: 0;
        max-width:100%;
        width:100%;
        //margin: 0 auto;
        min-height:100vh;
        display:inline-flex;
        align-items:center;
        justify-content:center;
      }
    
    .home__wrap {
        //margin: 0;
        display: flex;
        width: 100%;
        display: block;
        background: $colorBaseGradient;
        color: #fff;
        height: 100vh;
    
        .home__content {
            height: 100%;
            width: 100vw;
            //margin: 0;
            display: block;
            //outline: 1px solid rgb(0, 140, 255);
            outline: blue;
            flex-direction: column;
            justify-content: center;
            //padding-left: 10%;
           // padding-right: 10%;
            //margin: 0 auto 10%;
            background: $colorBaseGradient;
            max-width: 100%;
            
            //margin-top: 16px;
        }
    }
}

/*@media(min-width:520px) and (max-width:899) {
    
}*/

@media (min-width:320px) and (max-width: 899px) and (orientation: landscape){
    .home__content {
        height: 100%;
        width: 100vw;
        //margin: 0;
        display: block;
        //outline: 1px solid rgb(0, 140, 255);
        outline: blue;
        flex-direction: column;
        justify-content: center;
        //padding-left: 10%;
       // padding-right: 10%;
        //margin: 0 auto 10%;
        background: $colorBaseGradient;
        max-width: 100%;
        
        //margin-top: 16px;
    }

    .stories_and_posts {
        background:$colorBaseGradient;
        //margin: 0;
        width: 100vw;
        height: 100%;
        
        justify-content: center;
        align-items: center;
    }
    .section-main {
        background:$colorBaseGradient;
        
        position: relative;
        width: 100vw;
        height: 100%;
        justify-content: center;
        //align-items: center;
        display: flex;
        flex-direction: row;
        flex-direction: row;
        grid-gap:10%;
    }
}